@charset "UTF-8";
/* Grunn bilið okkar er 1rem == 16px */
/* Hámarksbreidd á efni */
/* Letur stillingar */
/* Grid stillingar */
:root{
    /*Grunn bilið okkar er... (t.d.1rem ==16px*/
    --spacing: 1rem;
    /*Hámarksbreidd á efni */
    --max-width: 1000px;
    --color-text: #222;
    --color-text-secondary: #222;
    --color-link:#069;
    --coor-border:#ccc;
    /*Letur stillingar*/
    --font-size: 16px;
    --font-family-base: "Inter", helvetica, arial, sans-serif;
    --font-family-heading: "Playfair Display", georgia, serif;
    /*Grid stillingar*/
    --columns: 12;
    --gutter:30px;
    --offset:20px;

}

/* Setjum inn "reset" sem fjarlægir margin og paddingaf öllu*/
*{
    margin: 0;
    padding: 0;
}

/*Reiknum stærð á öllum boxum sem border-box*/
html {
    box-sizing: border-box; 
}

/*og látum erfast á allt*/
*, 
*::before, 
*::after {
    box-sizing: inherit;
}
  
body {
    font-family:"Courier New", Courier, monospace;
    /*font-family: "Inter", helvetica, arial, sans-serif;*/
    font-size: 16px;
    line-height: 1.5;
    padding-top: 1rem;
}


/*font-family:'Courier New', Courier, monospace;
margin-left: 10px;
margin-right: 10px; }

header h1 {
    font-size: 1rem;
    line-height: 1;
    font-variation-settings: 'wght' 600;
}
@media (min-width: 1000px) {
    header h1 {
        font-size: 2rem;
    }
}

/*
ef vafri styður clamp, notum það til að skala línulega, annars er 2rem <800px
og með media query að ofan farið í 4rem í >=800px
*/
/*
@supports (font-size: 2rem) {
    header h1 {
      font-size: clamp(2rem, 16px + 4vw, 4rem);
    }
  }
    */
h1,
h2,
p {
line-height: 1.5;
font-weight: 400;
=======
    font-family:"Courier New", Courier, monospace;
/*
    font-family: "Playfair Display", georgia, serif;*/
}

h2 {
font-size: 2em;
/*margin-bottom: 0.5em; */
}

@media (max-width: 799px) {
    h2 {
        font-size: 1.75em; 
    } 
}

.wrapper {
    display: grid;
    gap: 30px;
    grid-template-columns: 100%;
    grid-template-rows: auto;    
    margin: 0 auto;
    width: calc(100% - (2 * 20px));
    max-width: 1000px;
}

main{
    /*padding: 1em;*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    gap: 30px;
    margin-bottom: 30px;
}

header h1{
    display: block;
    text-align: center;
    margin-top: 3rem;
}

/* Valmynd og Yfirlit */
@media (min-width: 400px){
    .valmynd-yfirlit{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .valmynd{
        grid-column: 1/span 3;
    }
    .yfirlit{
        grid-column: 6/span 3;
    }
}

@media (min-width: 1000px){
    .valmynd{
        grid-column: 1/span 4;
    }
    .yfirlit{
        grid-column: 5/span 4;
    }
    .valmynd-efni{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1,1fr);
    }
    .valmynd-efni-svaedi{
        grid-column: span 1;
    }
}
.toDoItem__radio{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin:2rem;
    padding:0;
    line-height: 1rem;
    border-bottom: 0.01rem solid lightgray;
}
.toDoItem__input{
    float:left;
}

/* Valmynd */
.valmynd-efni-svaedi{
    display: flex;
    justify-content: space-between;
}
/* Yfirlit*/
