html {
    box-sizing: border-box; }
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  
body {
font-family:'Courier New', Courier, monospace;
margin-left: 10px;
margin-right: 10px; }

header h1 {
    font-size: 1rem;
    line-height: 1;
    font-variation-settings: 'wght' 600;
}
@media (min-width: 1000px) {
    header h1 {
        font-size: 2rem;
    }
}

/*
ef vafri styður clamp, notum það til að skala línulega, annars er 2rem <800px
og með media query að ofan farið í 4rem í >=800px
*/
/*
@supports (font-size: 2rem) {
    header h1 {
      font-size: clamp(2rem, 16px + 4vw, 4rem);
    }
  }
    */
h1,
h2,
p {
line-height: 1.5; }

h2 {
font-size: 2em;
margin-bottom: 0.5em; }
@media (max-width: 799px) {
    h2 {
    font-size: 1.75em; } 
}

.wrapper {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    /*gap: 30px;*/
    
    margin: 0 auto;
    width: calc(100% - (2 * 20px));
    max-width: 1400px;
}

main{
    padding: 1em;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100%;
    gap: 30px;

    margin-bottom: 30px;
}

h1{
    display: block;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: 3rem;
}
/*
.valmynd{
    display:flex;
    flex-direction: column;
    float:left;
    
    line-height: 2rem;
}
.yfirlit{
    display:flex;
    flex-direction: column;
    float:center;
    margin-right: 16rem;
    line-height: 2rem;
}*/


/* Valmynd og Yfirlit */
@media (min-width: 400px){
    .valmynd-yfirlit{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto;
    }
    .valmynd{
        grid-column: 1/span 3;
    }
    .yfirlit{
        grid-column: 6/span 3;
    }
}

@media (min-width: 1000px){
    .valmynd{
        grid-column: 1/span 4;
    }
    .yfirlit{
        grid-column: 5/span 4;
    }
    .valmynd-efni{
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1,1fr);
    }
    .valmynd-efni-svaedi{
        grid-column: span 1;
    }
}
#addTodo{
    background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 50%;
}

/* Valmynd */

/* Yfirlit*/
