:root{
    /*Grunn bilið okkar er... (t.d.1rem ==16px*/
    --spacing: 1rem;
    /*Hámarksbreidd á efni */
    --max-width: 1000px;
    --color-text: #222;
    --color-text-secondary: #222;
    --color-link:#069;
    --coor-border:#ccc;
    /*Letur stillingar*/
    --font-size: 16px;
    --font-family-base: "Inter", helvetica, arial, sans-serif;
    --font-family-heading: "Playfair Display", georgia, serif;
    /*Grid stillingar*/
    --columns: 12;
    --gutter:30px;
    --offset:20px;

}
